<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<h1><%= @user.full_name %> has requested some time off</h1>

<p>
  From: <%= @holiday.date_from.strftime("%d/%m/%y") %> to <%= @holiday.date_to.strftime("%d/%m/%y") %>
</p>
<p>
To authorize, follow the link to <%= I18n.t('app_url') %>
</p>
<p>
  <% nomOfClashes = @other_users_array.size %>
  This holiday clashes with <%= nomOfClashes %> other (users with the same manager)
</p>
<p>
  <% if nomOfClashes > 0 %>
     These users are:
    <% @other_users_array.each do |person| %> 
    <ul>
      <li><%= person.full_name %></li>
    </ul>
  <% end %>
<% end %>
</p>
</body>
</html>
